/* style by css */
body{
    background: #000 !important;
}
.container .post{
    background-color: black;
    padding: 20px;
    margin-bottom: 40px;
    width: 49%;
    border: 2px solid #d198c9;

    box-shadow: 0 0 15px rgba(207, 137, 191, 0.4);

}
#posts-container {
     display: flex;
    justify-content: center; 
    gap: 20px;

} 
.container h1{
    /* color: rgb(146, 67, 126); */
    color: #4d183f;
    text-shadow: 3px 1px 2px rgba(220, 181, 208, 0.5);
}
.post:hover, .comment:hover {
    transform: translateY(-8px);
  }
  .container .post, .comment {
    transition: all 0.35s ease-in-out;
  }
nav .navbar-brand{
    color: rgb(238, 191, 236);
    font-size: 26px;  
    transition: all 0.3s ease-in-out;;
}
nav .navbar-brand:hover{
    color: #fff;
    transform: translateX(8px);
}
.navbar{
    /* background-color: rgb(4, 4, 4); */
    box-shadow: 0 0 12px rgba(193, 156, 196, 0.4);;
}
.text-center button{
    color: #ffffff;
    padding: 10px 20px; 
    font-size: 16px; 
  }
.text-center button:hover {
    background-color: #3a112f;
    color: #ffffff;
    border-color: #fff;
  }

  .email{
    color: #cf92bf;
  }
  .text-center button{
    border: 2px solid #ca69bb; /* Change this color to whatever you like */
  }

  @media (max-width:1200px) {
    .container .post {
      width: 95%; 
    }
    nav .navbar-brand{
        font-size: 18px;
    }
  }